@import "tailwindcss";

.font-manrope {
  font-family: 'Manrope', sans-serif;
}

.font-manrope-light {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

.font-manrope-regular {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.font-manrope-medium {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

.font-manrope-semibold {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.font-manrope-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

.font-manrope-extrabold {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}